## Uploads data sets

In [1]:
# libs
import pandas as pd

In [11]:
# Vendas
df_vendas = pd.read_parquet('fato_vendas_varejo.parquet')

# Filias

df_filiais = pd.read_parquet('filiais.parquet')

# Metas Vendas

df_metas_vendas = pd.read_parquet('metas_vendas_varejo.parquet')

In [21]:
df_metas_vendas.head(10)

   codigo_filial          data_meta_venda  meta_n_med
0           1740  2025-01-01 03:00:00.000     4652.32
1           1830  2025-01-01 03:00:00.000     7870.85
2           1524  2025-01-01 03:00:00.000     6144.89
3           1677  2025-01-01 03:00:00.000    11840.37
4           1758  2025-01-01 03:00:00.000     9554.39
5           1656  2025-01-01 03:00:00.000        0.00
6           1581  2025-01-01 03:00:00.000     1680.03
7           1812  2025-01-01 03:00:00.000     8568.37
8           1746  2025-01-01 03:00:00.000     9320.65
9           1635  2025-01-01 03:00:00.000     7079.00

In [19]:
df_metas_vendas.shape

(42896, 3)

In [20]:
df_metas_vendas.columns

Index(['codigo_filial', 'data_meta_venda', 'meta_n_med'], dtype='str')

In [17]:
df_filiais.head(10)

,codigo_filial,faixa_vida,localidade,uf,tipo_estabelecimento,delivery,metragem_area_venda,panvel_clinic,estacionamento,atendimento_24_horas
0,1761,MAIS DE 3 ANOS,APUCARANA,PR,BAIRRO,SIM,503.5618,SIM,SIM,NÃO
1,1740,MAIS DE 3 ANOS,LONDRINA,PR,CENTRO,NÃO,531.0054,SIM,SIM,NÃO
2,1689,MAIS DE 3 ANOS,LONDRINA,PR,BAIRRO,NÃO,521.7424,NÃO,SIM,NÃO
3,1611,MAIS DE 3 ANOS,LONDRINA,PR,BAIRRO,NÃO,565.2000,SIM,SIM,NÃO
4,1764,MAIS DE 3 ANOS,LONDRINA,PR,CENTRO,NÃO,572.1708,SIM,SIM,NÃO
5,1884,MENOS DE 1 ANO,ARAPONGAS,PR,MALL,NÃO,471.2826,SIM,SIM,NÃO
6,1869,MENOS DE 1 ANO,TELEMACO BORBA,PR,CENTRO,SIM,566.5188,SIM,SIM,NÃO
7,1803,ENTRE 2-3 ANOS,CAMBE,PR,CENTRO,SIM,531.0682,SIM,SIM,NÃO
8,1782,MAIS DE 3 ANOS,ARAPONGAS,PR,CENTRO,SIM,585.9240,SIM,SIM,NÃO
9,1767,MAIS DE 3 ANOS,LONDRINA,PR,BAIRRO,SIM,626.6812,SIM,SIM,NÃO

In [22]:
df_filiais.shape

(124, 10)

In [23]:
df_filiais.columns

Index(['codigo_filial', 'faixa_vida', 'localidade', 'uf',
       'tipo_estabelecimento', 'delivery', 'metragem_area_venda',
       'panvel_clinic', 'estacionamento', 'atendimento_24_horas'],
      dtype='str')

In [26]:
df_vendas.head(20)

,codigo_documento_saida,codigo_filial,data_emissao,quantidade,faturamento
0,122854,1803,2025-07-07 00:00:00.000,6.0,135.00018
1,214007,1743,2025-07-18 00:00:00.000,9.0,222.63408
2,176406,1794,2025-07-17 00:00:00.000,3.0,389.45259
3,999220,1614,2025-07-01 00:00:00.000,39.0,707.19615
4,181499,1761,2025-06-02 00:00:00.000,15.0,194.42790
5,247284,1704,2025-06-03 00:00:00.000,12.0,299.21166
6,121358,1803,2025-06-30 00:00:00.000,9.0,72.46287
7,422317,1710,2025-06-03 00:00:00.000,33.0,121.21119
8,992506,1539,2025-06-22 00:00:00.000,9.0,188.36577
9,699387,1611,2025-06-20 00:00:00.000,12.0,87.82236
10,987597,1614,2025-06-04 00:00:00.000,9.0,108.27027
11,605779,1728,2025-06-27 00:00:00.000,9.0,430.22277
12,91753,1809,2025-06-24 00:00:00.000,6.0,103.59018
13,785953,1629,2025-06-25 00:00:00.000,9.0,125.54577
14,245025,1770,2025-06-09 00:00:00.000,12.0,411.34536
15,135703,1806,2025-06-28 00:00:00.000,9.0,554.29227
16,369981,1683,2025-06-21 00:00:00.000,30.0,484.59348
17,690186,1635,2025-06-09 00:00:00.000,39.0,1255.42629
18,464426,1692,2025-06-12 00:00:00.000,21.0,236.86281
19,287358,1752,2025-06-06 00:00:00.000,9.0,301.15908

In [25]:
df_vendas.shape

(5534166, 5)